# Build artifacts
build/
cli/build/
*.o
*.obj

# Binaries
bin/
obj/
bin/art_gui
bin/*.exe
bin/share/
bin/lib/

# Test outputs
bin/*.csv
/tmp/*.csv

# Python
ml/venv/
**/__pycache__/
*.pyc

# Editor / OS
*.swp
.DS_Store

# Root virtualenv
.venv/

# Dependency files
*.d
tests/work/
